body {
  min-width: 100%;
  overflow-x: hidden;
  position: relative;
}

.no-padding {
  padding: 0 !important;
}

/* navbar styling */
.navbar {
  background-image: url('/images/landing/gradient.png');
  background-position: center;
  background-size: cover;
  padding: 0.2rem 1rem !important;
}
@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem !important;
  }
}

.navbar #nav-wrap {
  align-items: flex-end;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .navbar #nav-wrap {
    flex-direction: row;
    align-items: flex-end;
  }
}

.navbar .navbar-collapse {
  flex: 1;
}
.navbar .navbar-nav {
  flex-direction: row;
}
.navbar .navbar-nav > li {
  margin-right: 20px;
}
@media only screen and (min-width: 768px) {
  .navbar .navbar-collapse {
    flex-direction: row-reverse;
  }
  .navbar .navbar-nav > li {
    margin-right: 25px;
  }
}

.navbar-brand .logo {
  width: 120px;
}
@media only screen and (min-width: 768px) {
  .navbar-brand .logo {
    width: 140px;
  }
}

.navbar .navbar-nav .nav-item > .nav-link,
.navbar .navbar-nav .nav-item > .nav-link:hover,
.navbar .navbar-nav .nav-item.show > .nav-link {
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
  float: left !important;
  position: absolute !important;
}

.navbar .navbar-brand {
  flex: 1;
  margin-top: 15px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .navbar .navbar-nav .nav-item > .nav-link,
  .navbar .navbar-nav .nav-item > .nav-link:hover,
  .navbar .navbar-nav .nav-item.show > .nav-link {
    font-size: 12px;
  }
  .navbar .navbar-brand {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.navbar .icons {
  display: none;
}
@media only screen and (min-width: 768px) {
  .navbar .icons {
    display: inline-flex;
    list-style: none;
    align-items: center;
  }
}

.icon-item {
  padding: 0px 3px;
}

.topnav-right {
  position: absolute;
  right: 0;
  bottom: 10px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .topnav-right {
    top: 0;
    right: 15px;
    bottom: inherit;
  }
}

.topnav-right .buy-now {
  color: white;
  margin-left: 3px;
  font-size: 12px;
}

/* Carousel styling */
.carousel-inner {
  width: 100%;
  min-height: 30vh !important;
}

.carousel-img {
  width: 100%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.d-block {
  min-height: 30vh;
}

.carousel-indicators li {
  width: 12px !important;
  height: 12px !important;
  border-radius: 100% !important;

}

.carousel-indicators{
  right: 78%!important;
  margin-right: 0!important;
  margin-left: 0!important;
   bottom:-19px!important;
}

.carousel-indicators {
  right: 78% !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  bottom: -19px !important;
}

.indicator-background {
  background-color: grey;
  padding-top: 8px;
}
.carousel-control-prev-icon {
  margin: 3px;
}
.carousel-control-next,
.carousel-control-prev {
  width: 7% !important;
}

.carousel-control-next-icon {
  margin: 3px;
}

.carousel-caption {
  top: -5px !important;
}
.caption1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.7rem !important;
  line-height: 1.5;
}
.caption2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #1d1c1c;
  font-size: 0.7rem !important;
}

@media only screen and (min-width: 768px) {
  .carousel-indicators {
    right: 88% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    bottom: -10px !important;
  }
  .carousel-caption {
    top: 40px !important;
  }
  .caption1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2rem !important;
  }
  .caption2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #1d1c1c;
    font-size: 2rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .topnav-right {
    top: 0;
    right: 15px;
    bottom: inherit;
  }
}

.slider-img {
  /* height: 85vh!important; */
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  outline: none;
}

.slider-caption-wrap {
  position: absolute;
  bottom: 6%;
  left: 0;
  width: 100%;
}

.slider-caption-wrap a {
  text-decoration: none !important;
}

@media only screen and (min-width: 768px) {
}

.slider-caption {
  color: #fff;
  text-transform: uppercase;
  background-color: #00000096;
  font-size: 11px;
  letter-spacing: 4px;
  padding: 5px;
  width: 144px;
  margin: 0 auto;
  text-align: center;
}

.slider-buy {
  margin: auto;
  margin-top: 15px;
  height: 30px;
  width: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.products-wrapper {
  padding: 60px 0;
}

.products {
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.slider-caption-wrap a{
  text-decoration: none!important;
}
.slider-caption{
 color: #fff;
 text-transform: uppercase;
 background-color: #00000096;
 font-size: 11px;
 letter-spacing: 4px;
 padding: 5px;

}
.slider-buy{
  margin: auto;
  margin-top: 5px;
  height: 30px;
  width: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.products{
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding-top: 30px;
}



/* product ads styling */
.sec3-image {
  height: 60vh;
  width: 100%;
  background-image: url('http://placehold.it/250x250');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}



.sec-3-col {
  padding: 0 !important;
}
.caption-title {
  text-transform: uppercase;
  text-align: center;
  color: #ee9127;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 2px;
}
.caption p {
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.945) !important;
  letter-spacing: 2px;
  font-size: 11px;
  margin: 10px 0;
}

.caption {
  width: 100%;
  position: absolute;
  bottom: 22px;
  justify-content: center;
  font-size: 13px;
}

.caption-btn-wrap {
  display: flex !important;
  justify-content: center !important;
}

.caption-btn {
  text-decoration: none !important;
  background-color: #7c7270c2;
  border: 1px solid #a8a8a873;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 10px;
  padding: 7px;
  color: #fffffff1 !important;
}

/* footer styling */
.footer {
  background: #292929;
  padding: 30px 0px;
}

.play {
  height: 12px;
}

sup {
  margin-left: -6px;
}
.header-sup {
  margin-left: -10px;
}

.copyright {
  color: white;
}
a.contact {
  padding: 10px 25px;
  color: white !important;
  border-radius: 25px;
  border-color: white;
  border: 1px solid white;
  text-decoration: none !important;
}
a.contact:hover {
  background: #fff;
  color: #292929 !important;
}

.social-white {
  list-style: none;
}
.social {
  display: inline-flex;
}
.social li {
  margin-right: 10px;
}

.social li a {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  color: white;
  display: inline-flex;
  border-radius: 50%;
  text-decoration: none;
}
.social li a:hover {
  background: #fff !important;
  color: #292929;
}
.feather {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
svg {
  margin: auto !important;
}

.contact-wrapper {
  display: flex;
  justify-content: flex-end;
}

.copy-wrapper {
  text-align: center;
  margin-bottom: 15px;
}

.razor {
  background-image: url(/images/bg-gradient.jpg);
  background-size: 100% auto;
  padding: 40px 0;
  position: relative;
}

.image1 {
  padding: 0rem 2rem 0rem 2rem;
  background-position: center;
  background-size: contain;
  width: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
}

.itemwrap {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.info-items {
  list-style: none;
  padding: 0;
}

.product-row {
  padding: 20px 0px 20px 0px;
}
.product-row-reverse {
  flex-direction: column-reverse;
}

.list-text {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.btn.btn-primary {
  background-color: #f27130;
  border-radius: 9999px;
  border-color: white;
  word-spacing: 5px;
  line-height: 1.55;
  letter-spacing: 1.5px;
}
.grey-divider {
  background-color: #e6e6e6;
  height: 15px;
  width: 100%;
}
#list-text {
  margin: auto;
}
.banner1 {
  min-height: 360px;
  width: 100%;
  background-position: bottom center;
  background-size: cover;
}
.banner2 {
  min-height: 360px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
h2 {
  text-transform: uppercase !important;
  font-weight: 700 !important;
  color: #ee9127 !important;
  font-size: 21px !important;
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}
.buy-btn {
  display: flex;
  justify-content: center;
}

.buy-now-btn {
  height: 90px;
  width: 150px;
  background-position: cover;
  background-size: center;
  background-repeat: no-repeat;
  margin-bottom: -30px;
}

.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next {
  margin-top: 15px;
  margin-bottom: -31px;
  height: 90px;
  width: 150px;
  background-position: cover;
  background-size: center;
  background-repeat: no-repeat;
}

.contact-banner {
  min-height: 390px;
  width: 100%;
  background-position: left;
  background-size: cover;
}

.contact-address {
  line-height: 2;
  font-size: 12px;
}
.contact-no-wrap {
  margin-top: 20px;
  line-height: 2;
  font-size: 12px;
}
.follow-us {
  margin-top: 80px;
}
.contact-no-wrap .contact-social-icons {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.contact-no-wrap .contact-social-icons li {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid #000;
  text-align: center;
}

.contact-no-wrap .contact-social-icons img {
  width: 10px;
}
.contact-detail-wrap {
  padding: 30px 0 30px 0;
}

.black-box {
  height: 8px;
  width: 50px;
  background-color: #000;
}

.card-wrapper {
  display: flex;
  background-color: #f8931f;
}
.map-image {
  width: 100%;
}
.contact-space {
  display: none;
}
.contact-details {
  width: 100%;
  padding: 0 30px;
}

.contact-caption {
  text-align: center;
  color: #ffffffbd;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 7px;
  font-size: 20px;
  padding: 30px 0;
}



@media only screen and (min-width: 900px) {
  .contact-banner {
    background-position: top center;
  }
  .contact-space {
    width: 30%;
    display: block;
  }
  .contact-details {
    width: 70%;
  }
  .map-image {
    height: 450px;
    width: auto;
  }
  .contact-row {
    padding: 50px 0 50px 0;
  }
  .contact-caption {
    text-align: center;
    color: #ffffffbd;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 7px;
    padding: 40px 0;
  }
}

@media only screen and (min-width: 1300px) {
  .contact-banner {
    background-position: top center;
  }
  .contact-space {
    width: 40%;
  }
  .contact-caption {
    text-align: center;
    color: #ffffffbd;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 7px;
    padding: 40px 0px;
  }
  .contact-details {
    width: 60%;
  }
  .map-image {
    height: 450px;
    width: auto;
  }
  .contact-row {
    padding: 50px 0 50px 0;
  }
}

.fact-banner{
  min-height: 250px;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fact-caption {
  text-align: center;
  color: #ffffffbd;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 7px;
  font-size: 17px;
  padding: 14px 0;
}

.fact-icons{
  min-height: 46px;
  width: 46px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}


.fact-row{
  margin-top:20px;
  margin-bottom: 30px;

}


.facttext-col{
  display: flex;
  align-items: center;
}

.fact-text{
  letter-spacing: 2px;
  line-height: 2px;
  font-size: 12px;
}

@media only screen and (min-width: 900px) {
  .fact-banner{
  min-height: 490px;
  }

  .fact-caption {
    text-align: center;
    color: #ffffffbd;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 7px;
    font-size: 20px;
    padding: 30px 0;
  }

  .fact-container{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .facticon-col{
    display: flex;
    justify-content: flex-end;
  }

  .fact-wrapper{
    width: 70%;
    margin: auto;
  }

  .fact-icons{
    min-height: 70px;
    width: 70px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* for desktop */
@media only screen and (min-width: 768px) {
  .d-block {
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
    object-position: center;
  }
  .multiple-slider {
    margin-top: 15px;
    padding-bottom: 15px;
  }

  .carousel-inner {
    width: 100%;
    max-height: 90vh !important;
  }

  .carousel-control-prev-icon {
    margin: 18px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 5% !important;
  }

  .carousel-control-next-icon {
    margin: 18px;
  }

  .copy-wrapper {
    text-align: justify;
    margin-bottom: 0;
  }

  .contact-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .copy-wrapper {
    padding: 5px 0 5px 0;
  }
  .avatar-padding {
    padding-left: 0 !important;
  }

  .product-wrapper2 {
    margin-left: 6rem;
  }

  h2 {
    font-size: 30px !important;
    margin-top: 1rem !important;
  }
  .product-row-reverse {
    flex-direction: row;
  }
  .buy-btn {
    display: flex;
    justify-content: start;
  }
  .buy-now-btn {
    margin-top: 20px;
  }
}
