.navbar{
    background-image: url("images/landing/gradient.png");
    background-position: center;
    background-size: cover;
}

#navbar-brand{
    height: 20%;
    width:20%;
}

 .navbar-collapse{
    justify-content: center;
}

/* .navbar{
    display:block!important;
} */
/* .buy-now{
    float: right;
    color: white;
    font-size: 11px;
} */

.nav-link{
    font-size:11px;
    color: white!important;

}
.navbar-brand{
    /* margin-left: 10rem; */
    margin-top:2rem;
}
.navbar-nav{
    margin-top: 3rem;

}
.navbar{
    padding:0rem 1rem!important;
}

.icons{
    display: inline-flex!important;
    list-style: none;
}
.icon-item{
    padding: 0px 3px;
}
.topnav-right{
    margin-top: -50px;
    margin-left: auto;
    position: relative;
    float: right;
    font-size: 12px;
}
.buy-now{
    color: white;
    margin-left: 3px;
}

.carousel-inner{
  width:100%;
  min-height: 30vh !important;
}
.carousel-img{
    width: 100%;
height: 65vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.d-block{
min-height: 30vh;
    }

.carousel-indicators li {
  width: 10px!important;
  height: 10px!important;
  border-radius: 100%!important;
}

.indicator-background{
    background-color: grey;
}
.carousel-control-prev-icon{
    margin: 20px;
}
.carousel-control-next, .carousel-control-prev{
    width:5%!important;
}

.carousel-control-next-icon{
    margin: 20px;
}

.sec3-image{
    height: 60vh;
    width: 100%;
    background-image: url("http://placehold.it/250x250");
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
}


@media only screen and (min-width: 768px) {
        .navbar-brand{
            margin-left: 10rem;
        }
        .d-block{
            width: 100%;
            max-height: 90vh;
            object-fit: cover;
            object-position: center;

        }
        .multiple-slider{
            margin-top: 15px ;
            padding-bottom: 15px;
        }

        .carousel-inner{
    width:100%;
    max-height: 90vh !important;
    }
    .sec-3-col{
        padding: 0!important;
    }

}

